@charset "utf-8";

/* 노출 속성 설정 */
.block {
	position: relative !important;
	display: block !important;
}

.none {
	display: none !important;
}

.hide {
	position: absolute;
	left: -999px;
	top: -999px;
	width: 0 !important;
	height: 0 !important;
	margin: 0 !important;
	padding: 0 !important;
	font-size: 0 !important;
	line-height: 0 !important;
	text-indent: -9999em;
}

.bg_none {
	background-image: none !important;
}

.bd_none {
	border: none !important;
}

.bd_left {
	border-left: 1px solid #d7d6d5;
}

.bd_right {
	border-right: 1px solid #d7d6d5;
}

.end {
	border-right: none !important;
}

.cursor {
	cursor: pointer !important;
}

.decoline {
	padding: 12px 0;
	border-top: 2px solid #000;
	border-bottom: 1px solid #000;
	overflow: hidden;
}

.h_line {
	background: url('/index/images/h_line.gif') no-repeat 118px 50%
		!important;
}

.h_line2 {
	background: url('/index/images/h_line2.gif') no-repeat right 50%
		!important;
}

.border_bottom {
	border-bottom: 1px solid #e4e4e4;
}

/* 마진&여백 설정 */
.pd_none {
	padding: 0 !important;
}

.pd_left_none {
	padding-left: 0 !important;
}

.pd_right_none {
	padding-right: 0 !important;
}

.mg_none {
	margin: 0 !important;
}

.mg_left_none {
	margin-left: 0 !important;
}

.mg_right_none {
	margin-right: 0 !important;
}

/* 정렬 설정 */
.center {
	text-align: center !important;
}

.left {
	text-align: left !important;
}

.right {
	text-align: right !important;
}

.dp_inline {
	display: inline-block !important;
}

.vc_top {
	vertical-align: top !important;
}

.vc_middle {
	vertical-align: middle !important;
}

.keep-all {
	word-break: keep-all !important;
}

/* float 속성 설정 */
.clear {
	clear: both;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

/* Margin 속성 설정 */
.mt0 {
	margin-top: 0px !important;
}

.mb0 {
	margin-bottom: 0px !important;
}

.mr0 {
	margin-right: 0px !important;
}

.ml0 {
	margin-left: 0px !important;
}

.mt5 {
	margin-top: 5px !important;
}

.mb5 {
	margin-bottom: 5px !important;
}

.mr5 {
	margin-right: 5px !important;
}

.ml5 {
	margin-left: 5px !important;
}

.mt10 {
	margin-top: 10px !important;
}

.mb10 {
	margin-bottom: 10px !important;
}

.mr10 {
	margin-right: 10px !important;
}

.ml10 {
	margin-left: 10px !important;
}

.mt15 {
	margin-top: 15px !important;
}

.mb15 {
	margin-bottom: 15px !important;
}

.mr15 {
	margin-right: 15px !important;
}

.ml15 {
	margin-left: 15px !important;
}

.mt20 {
	margin-top: 20px !important;
}

.mb20 {
	margin-bottom: 20px !important;
}

.mr20 {
	margin-right: 20px !important;
}

.ml20 {
	margin-left: 20px !important;
}

.mt30 {
	margin-top: 30px !important;
}

.mb30 {
	margin-bottom: 30px !important;
}

.mr30 {
	margin-right: 30px !important;
}

.ml30 {
	margin-left: 30px !important;
}

.mt35 {
	margin-top: 35px !important;
}

.mb35 {
	margin-bottom: 35px !important;
}

.mr35 {
	margin-right: 35px !important;
}

.ml35 {
	margin-left: 35px !important;
}

.mt40 {
	margin-top: 40px !important;
}

.mb40 {
	margin-bottom: 40px !important;
}

.mr40 {
	margin-right: 40px !important;
}

.ml40 {
	margin-left: 40px !important;
}

.mt50 {
	margin-top: 50px !important;
}

.mb50 {
	margin-bottom: 50px !important;
}

.mr50 {
	margin-right: 50px !important;
}

.ml50 {
	margin-left: 50px !important;
}

.mt60 {
	margin-top: 60px !important;
}

.mb60 {
	margin-bottom: 60px !important;
}

.mr60 {
	margin-right: 60px !important;
}

.ml60 {
	margin-left: 60px !important;
}

.mt70 {
	margin-top: 70px !important;
}

.mb70 {
	margin-bottom: 70px !important;
}

.mr70 {
	margin-right: 70px !important;
}

.ml70 {
	margin-left: 70px !important;
}

.mt80 {
	margin-top: 80px !important;
}

.mb80 {
	margin-bottom: 80px !important;
}

.mr80 {
	margin-right: 80px !important;
}

.ml80 {
	margin-left: 80px !important;
}

.mt90 {
	margin-top: 90px !important;
}

.mb90 {
	margin-bottom: 90px !important;
}

.mr90 {
	margin-right: 90px !important;
}

.ml90 {
	margin-left: 90px !important;
}

.mt100 {
	margin-top: 100px !important;
}

.mb100 {
	margin-bottom: 100px !important;
}

.mr100 {
	margin-right: 100px !important;
}

.ml100 {
	margin-left: 100px !important;
}

/* Padding 속성 설정 */
.pt5 {
	padding-top: 5px !important;
}

.pb5 {
	padding-bottom: 5px !important;
}

.pr5 {
	padding-right: 5px !important;
}

.pl5 {
	padding-left: 5px !important;
}

.pt10 {
	padding-top: 10px !important;
}

.pb10 {
	padding-bottom: 10px !important;
}

.pr10 {
	padding-right: 10px !important;
}

.pl10 {
	padding-left: 10px !important;
}

.pt20 {
	padding-top: 20px !important;
}

.pb20 {
	padding-bottom: 20px !important;
}

.pr20 {
	padding-right: 20px !important;
}

.pl20 {
	padding-left: 20px !important;
}

.pt25 {
	padding-top: 25px !important;
}

.pb25 {
	padding-bottom: 25px !important;
}

.pr25 {
	padding-right: 25px !important;
}

.pl25 {
	padding-left: 25px !important;
}

.pt30 {
	padding-top: 30px !important;
}

.pb30 {
	padding-bottom: 30px !important;
}

.pr30 {
	padding-right: 30px !important;
}

.pl30 {
	padding-left: 30px !important;
}

.pt40 {
	padding-top: 40px !important;
}

.pb40 {
	padding-bottom: 40px !important;
}

.pr40 {
	padding-right: 40px !important;
}

.pl40 {
	padding-left: 40px !important;
}

.pt50 {
	padding-top: 50px !important;
}

.pb50 {
	padding-bottom: 50px !important;
}

.pr50 {
	padding-right: 50px !important;
}

.pl50 {
	padding-left: 50px !important;
}

.pt60 {
	padding-top: 60px !important;
}

.pb60 {
	padding-bottom: 60px !important;
}

.pr60 {
	padding-right: 60px !important;
}

.pl60 {
	padding-left: 60px !important;
}

.pt70 {
	padding-top: 70px !important;
}

.pb70 {
	padding-bottom: 70px !important;
}

.pr70 {
	padding-right: 70px !important;
}

.pl70 {
	padding-left: 70px !important;
}

.pt80 {
	padding-top: 80px !important;
}

.pb80 {
	padding-bottom: 80px !important;
}

.pr80 {
	padding-right: 80px !important;
}

.pl80 {
	padding-left: 80px !important;
}

.pt90 {
	padding-top: 90px !important;
}

.pb90 {
	padding-bottom: 90px !important;
}

.pr90 {
	padding-right: 90px !important;
}

.pl90 {
	padding-left: 90px !important;
}

.pt100 {
	padding-top: 100px !important;
}

.pb100 {
	padding-bottom: 100px !important;
}

.pr100 {
	padding-right: 100px !important;
}

.pl100 {
	padding-left: 100px !important;
}

.pt33 {
	padding-top: 33px !important;
}

/* 크기 속성 설정 */
.w10 {
	width: 10% !important;
}

.w20 {
	width: 20% !important;
}

.w22 {
	width: 22% !important;
}

.w30 {
	width: 30% !important;
}

.w40 {
	width: 40% !important;
}

.w50 {
	width: 50% !important;
}

.w60 {
	width: 60% !important;
}

.w70 {
	width: 70% !important;
}

.w80 {
	width: 80% !important;
}

.w90 {
	width: 90% !important;
}

.w100 {
	width: 100% !important;
}

.w10p {
	width: 10px !important;
}

.w20p {
	width: 20px !important;
}

.w30p {
	width: 30px !important;
}

.w40p {
	width: 40px !important;
}

.w50p {
	width: 50px !important;
}

.w60p {
	width: 60px !important;
}

.w70p {
	width: 70px !important;
}

.w80p {
	width: 80px !important;
}

.w90p {
	width: 90px !important;
}

.w100p {
	width: 100px !important;
}

.w150p {
	width: 150px !important;
}

.w200p {
	width: 200px !important;
}

.w300p {
	width: 300px !important;
}

.w400p {
	width: 400px !important;
}

.w500p {
	width: 500px !important;
}

/* Font-size Size Setting */
.f9 {
	font-size: 9px !important;
}

.f10 {
	font-size: 10px !important;
}

.f11 {
	font-size: 11px !important;
}

.f12 {
	font-size: 12px !important;
}

.f13 {
	font-size: 13px !important;
}

.f14 {
	font-size: 14px !important;
}

.f15 {
	font-size: 15px !important;
}

.f16 {
	font-size: 16px !important;
}

.f17 {
	font-size: 17px !important;
}

.f18 {
	font-size: 18px !important;
}

.f19 {
	font-size: 19px !important;
}

.f20 {
	font-size: 20px !important;
}

.f21 {
	font-size: 21px !important;
}

.f22 {
	font-size: 22px !important;
}

.f23 {
	font-size: 23px !important;
}

.f24 {
	font-size: 24px !important;
}

.f25 {
	font-size: 25px !important;
}

.f26 {
	font-size: 26px !important;
}

.f27 {
	font-size: 27px !important;
}

.f28 {
	font-size: 28px !important;
}

.f29 {
	font-size: 29px !important;
}

.f30 {
	font-size: 30px !important;
}

/* Font Scale Setting */
.fs100 {
	font-size: 100% !important;
}

.fs50 {
	font-size: 50% !important;
}

/* Font-Weight Setting */
.normal {
	font-weight: normal;
}

.bold {
	font-weight: bold;
}

/* Line-height Setting */
.lh13 {
	line-height: 1.3 !important;
}

.lh15 {
	line-height: 1.5 !important;
}

.lh18 {
	line-height: 1.8 !important;
}

/* Color Setting */
.black {
	color: #000 !important;
}

.white {
	color: #fff !important;
}

.green {
	color: #3a9939 !important;
}

.red {
	color: #e6150b !important;
}

.blue {
	color: #0b68e6 !important;
}

.gold {
	color: #b9a352 !important;
}

.gray {
	color: #999 !important;
}

.cyan {
	color: #006666 !important;
}