input[type=button], input[type=submit], input[type=reset] {
	width: 205px;
	color: white;
	text-transform: uppercase;
	font-size: 15px;
	margin: 10px 10px;
	padding: 20px;
	border: 0;
}

input.login, input.join, textarea.q_text {
	background-color: #f6f6f6;
	border: none;
	color: #0d0d0d;
	padding: 14px 18px;
	text-decoration: none;
	display: inline-block;
	font-size: 15px;
	margin: 6px;
	width: 86%;
	border: 2px solid #f6f6f6;
	-webkit-border-radius: 3px 3px 3px 3px;
	border-radius: 3px 3px 3px 3px;
}

input[type=text]:focus, textarea.q_text:focus {
	background-color: #fff;
	border-bottom: 2px solid #5fbae9;
}

input[type=text]:placeholder {
	color: #cccccc;
}

.form_div {
	text-align: center;
}

.hidden {
	display: none;
}

p.auth_msg {
	font-size: 12pt !important;
	font-weight: bold !important;
	color: red !important;
}

.login_form {
	margin: 20px 0 10px 0;
}

.join_div, .form_area, .board_area {
	width: 900px !important;
	text-align: left;
	padding: 0px !important;
}

.btn_area {
	text-align: right;
}

.join_div .form_btn {
	width: 90px;
	height: 30px;
	padding: 0;
	font-size: 9pt;
}

.form_area>textarea.q_text {
	padding: 10px;
	margin: 8px 0px;
	width: 97%;
	height: 200px;
	resize: none;
}

.form_area>select {
	width: 200px;
	font-size: 11pt;
	padding: 5px 10px;
}

.join_div .info_msg {
	margin: 0px !important;
}

.board_area ul {
	margin: 0px !important;
	padding: 0px !important;
}

.form_div input.join {
	float: left;
	margin: 6px;
	width: 180px;
}

.info_msg {
	color: #23ac38;
	font-size: 18pt;
}

.form_div span.form_group {
	display: block;
	width: 95px;
	height: 50px;
	line-height: 50px;
	background-color: #23ac3830;
	-webkit-border-radius: 3px 3px 3px 3px;
	border-radius: 3px 3px 3px 3px;
}

.form_div table {
	width: 600px;
	margin: 20px;
}

.form_div table td {
	width: 500px;
}

.form_div span.valid_msg {
	float: left;
	margin: 6px 3px;
	height: 50px;
	line-height: 50px;
	width: 226px;
	text-align: left;
}

.form_div img.valid_result {
	float: left;
	margin: 21px 3px 0 0;
	width: 19px;
}