input[type=button], input[type=submit], input[type=reset], .form_btn {
	width: 45%;
	background-color: #23ac38;
	color: white;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 15px;
	-webkit-border-radius: 3px 3px 3px 3px;
	border-radius: 3px 3px 3px 3px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	background-color: #23ac38;
	margin: 10px;
	padding: 20px;
	border: 0;
}

input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover,
	.form_btn:hover {
	background-color: #888888;
}

input[type=button]:active, input[type=submit]:active, input[type=reset]:active,
	.form_btn:active {
	-moz-transform: scale(0.95);
	-webkit-transform: scale(0.95);
	-o-transform: scale(0.95);
	-ms-transform: scale(0.95);
	transform: scale(0.95);
}

input[class=login], .form_area>.q_content, .form_area>.q_subject {
	background-color: #f6f6f6;
	border: none;
	color: #0d0d0d;
	padding: 14px 32px;
	text-decoration: none;
	display: inline-block;
	font-size: 15px;
	margin: 6px;
	width: 80%;
	border: 2px solid #f6f6f6;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	-webkit-border-radius: 3px 3px 3px 3px;
	border-radius: 3px 3px 3px 3px;
}

input[type=text]:focus, .form_area>.q_content:focus, .form_area>.q_subject:focus
	{
	background-color: #fff;
	border-bottom: 2px solid #5fbae9;
}

input[type=text]:placeholder {
	color: #cccccc;
}

.form_div {
	text-align: center;
}

p.hidden {
	display: none;
}

p.auth_msg {
	font-size: 12pt !important;
	font-weight: bold !important;
	color: red !important;
}

.join_div, .form_area, .board_area {
	width: 900px !important;
	text-align: left;
	padding: 0px !important;
}

.btn_area {
	text-align: right;
	margin-top: -15px;
	margin-right: -6px;
}

.join_div .form_btn {
	width: 90px;
	height: 30px;
	padding: 0;
	font-size: 9pt;
}

.form_area>.q_subject {
	width: 725px;
	height: fit-content;
	padding: 12px 10px;
}

.form_area>.q_content {
	padding: 10px;
	width: 97%;
	height: 200px;
	resize: none;
}

.form_area>.q_content, .form_area>.q_subject {
	margin: 5px 0;
}

.form_area>select {
	width: 140px;
	padding: 6px;
	margin-right: 5px
}

.join_div .info_msg {
	margin: 0px !important;
}

.board_area ul {
	margin: 0px !important;
	padding: 0px !important;
}