/* 서브 비쥬얼 */
#sub_visual {
	display: block;
	height: 124px;
	background: url(../assets/img/s01_back.jpg) 0 0 no-repeat;
	margin-top: -2px;
}

/* 테이블 공통*/

/* 서브1 레이아웃  */
.s0101_top_box {
	overflow: hidden;
	height: auto;
	margin-bottom: 95px;
}

.text_box {
	width: 477px;
	float: left;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding-right: 20px;
}

.text_box>h5 {
	margin-top: 30px;
	font-size: 26px;
	color: #23ac38;
	margin-bottom: 5px;
}

.text_box>.info_msg {
	font-size: 19px !important;
	margin-bottom: 20px !important;
}

.text_box>p {
	font-size: 14px;
	font-weight: 300;
	line-height: 30px;
	letter-spacing: -0.5px;
	color: #666;
}

.img_box {
	float: right;
}

.s0101_bottom_box {
	position: relative;
	width: 100%;
	margin-left: -40px;
}

.b_t {
	display: block;
	width: 100%;
}

.b_t>ul:after {
	display: block;
	content: '';
	clear: both;
}

.b_t>ul>li {
	float: left;
	margin: 5px 0;
}

.b_t:first-child>ul>li.one {
	padding-top: 0;
}

li.one {
	width: 90px;
	height: 45px;
	font-weight: 300;
	font-size: 36px;
	color: #23ac38;
	letter-spacing: -2px;
	line-height: 45px;
	padding-top: 10px;
}

li.two {
	width: 40px;
	font-size: 26px;
	color: #23ac38;
	text-align: center;
	letter-spacing: -2px;
	line-height: 45px;
	padding-top: 10px;
}

.b_t:first-child>ul>li.two {
	margin-top: -5px;
}

li.th_t {
	padding-top: -15px;
	padding-left: 30px;
	font-weight: 300;
	font-size: 14px;
	color: #666666;
}

li.th {
	padding-top: 10px;
	padding-left: 30px;
	font-weight: 300;
	font-size: 14px;
	line-height: 45px;
	color: #666666;
}

.b_line {
	position: absolute;
	top: 0 margin-left: 130px;
	width: 100%;
	height: 2px;
	border-bottom: 1px solid #dbdbdb;
}

/* 서브2 레이아웃  */

/* 서브2_1 레이아웃  */
#s0201_top>p {
	font-size: 16px;
	color: #666;
	font-weight: 300;
}

.s0201_name {
	margin-left: -40px;
	margin-top: 42px;
	clear: both;
	margin-bottom: 90px;
}

.s0201_name>ul>li {
	float: left;
	font-size: 24px;
	font-weight: 400;
	height: 50px;
	color: #666;
}

.s0201_name>ul>li:first-child {
	width: 233px;
	padding-left: 15px;
	background: url(../assets/img/s02_bar.png) left 17px no-repeat;
}

.s0201_name>ul>li:last-child {
	font-size: 18px;
	font-weight: 300;
	line-height: 45px;
}

.table_2_1 {
	width: 910px;
	border-collapse: collapse;
}

.table_2_1 tr td {
	border: 1px solid #dbdbdb;
	text-align: center;
	font-size: 14px;
	font-weight: 300;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	height: 50px;
}

.table_2_1 tr td.color1 {
	font-weight: 400;
}

.table_2_1>thead>tr>td {
	background: #666;
	color: #fff;
	font-size: 16px;
	font-weight: 400;
	width: 175px;
}

.table_2_1>tbody>tr>td:first-child {
	background: #f5f5f5;
	color: #333;
	font-weight: 400;
}

/* 202_1 */
.table_201 {
	width: 910px;
	border-collapse: collapse;
}

.table_201 tr td {
	border: 1px solid #dbdbdb;
	text-align: center;
	font-size: 14px;
	font-weight: 300;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	height: 50px;
}

.table_201 tr td.color1 {
	font-weight: 400;
}

.table_201 tr td:nth-child(2) {
	width: 167px;
}

.bline {
	width: 100%;
	height: 1px;
	border-bottom: 1px solid #dbdbdb;
	padding-top: 20px;
}

ul.dl>li {
	position: relative;
	padding-left: 10px;
	line-height: 30px;
	color: #666;
	font-size: 14px;
	margin-left: -40px;
	font-weight: 300;
}

ul.dl>li:before {
	content: '';
	position: absolute;
	left: 0;
	top: 17px;
	width: 5px;
	height: 1px;
	background: #666;
}

.table_201>thead>tr>td {
	background: #666;
	color: #fff;
	font-size: 16px;
	text-align: center;
	font-weight: 400;
	height: 60px;
	border: 1px solid #fff;
}

.table_201 tr td {
	color: #666;
}

.table_201>thead>tr>td:first-child {
	border-left: 1px solid #666;
	width: 85px;
}

.table_201>thead>tr>td:last-child {
	border-right: 1px solid #666;
}

.table_201>thead>tr>td:first-chiid {
	width: 85px;
	border-left: 0;
}

.table_201>thead>tr>td:last-chiid {
	border-right: 0;
}

.table_201 tr.bg td {
	background: #f5f5f5;
}

.selc>li {
	margin-top: -20px;
}

.wrap {
	width: 100%;
}

.text_box1 {
	margin-top: 30px;
}

.text_box1>.wrap>span {
	padding-top: 30px;
	width: 250px;
	font-size: 18px;
	color: #333;
	margin-left: -250px;
	font-weight: 300;
}

.all_ul {
	margin-top: 2px;
}

.all_ul>li {
	position: relative;
	font-size: 14px;
	color: #666;
	font-weight: 300;
	padding-left: 10px;
	margin-left: -40px;
}

.all_ul>li:before {
	content: '';
	position: absolute;
	background: #666;
	width: 5px;
	height: 1px;
	left: 0;
	top: 13px;
}

.all_ul>li:last-child {
	border-bottom: 1px solid #dbdbdb;
	padding-bottom: 20px;
}

.text_box1>span {
	display: block;
	font-size: 18px;
	color: #333;
	text-align: left;
	font-weight: 300;
}

.text_box1>p {
	font-size: 14px;
	font-weight: 300;
	color: #666;
	padding: 30px 0 7px;
}

.features {
	margin-top: 95px;
}

.fea2 {
	margin-top: 51px;
}

.features>.feat_t>span {
	width: 233px;
	padding-left: 15px;
	font-size: 24px;
	font-weight: 400;
	color: #666;
	background: url(../assets/img/s02_bar.png) left 17px no-repeat;
}

.features>.feat_t>p {
	font-size: 18px;
	color: #666;
	font-weight: 300;
	padding-top: 15px;
}

.features>p {
	font-size: 14px;
	color: #666;
	line-height: 22px;
	padding-top: 30px;
}

.features>p.top {
	padding-top: 20px;
}

.features>p.bottom {
	padding-top: 0;
}

.app_box {
	clear: both;
}

.app_box>ul>li {
	font-size: 14px;
	color: #666;
	float: left;
	width: 212px;
	height: 40px;
	margin-right: 10px;
	margin-bottom: 12px;
	border: 1px solid #dbdbdb;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	text-align: center;
	line-height: 40px;
	font-weight: 300;
}

.app_box>ul>li:first-child {
	margin-left: -40px;
}

.app_box>ul>li:nth-child(2) {
	
}

.app_box>ul>li:last-child {
	margin-left: 0;
}

/* 서브 2_1 레이아웃 */
.table2>tbody>tr>td {
	color: #666;
}

.table2>tbody>tr>td.bg {
	background: #f5f5f5;
	font-weight: 400;
	color: #333;
}

.line1 {
	margin-left: -40px;
}

.line1>li {
	border: 1px solid #dbdbdb;
	padding-top: 7px;
	padding-bottom: 9px;
	padding-left: 20px;
	font-weight: 300;
	color: #666;
	word-break: keep-all;
}
/* 서브 2_2_2 레이아웃 */
.table2_2_2 {
	width: 910px;
	border-collapse: collapse;
}

.table2_2_2 tr td {
	border: 1px solid #dbdbdb;
	text-align: center;
	font-size: 14px;
	font-weight: 300;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	height: 50px;
}

.table2_2_2 tr td.color1 {
	font-weight: 400;
}

.table2_2_2>thead>tr>td {
	background: #666;
	color: #fff;
	font-size: 16px;
	font-weight: 400;
	height: 60px;
}

.table2_2_2>tbody>tr.bg>td {
	background: #f5f5f5;
}

.table2_2_2 tr td {
	color: #666;
}

.table2_2_2>tbody>tr>td.color1 {
	color: #333;
}

/* 서브_2_2_3 레이아웃 */
.table2_2_3 {
	width: 910px;
	border-collapse: collapse;
}

.table2_2_3 tr td {
	border: 1px solid #dbdbdb;
	text-align: center;
	font-size: 14px;
	font-weight: 300;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	height: 50px;
}

.table2_2_3 tr td.color1 {
	font-weight: 400;
}

.table2_2_3>thead>tr>td {
	background: #666;
	color: #fff;
	font-size: 16px;
	font-weight: 400;
	height: 60px;
}

.table2_2_3>tbody>tr.bg>td {
	background: #f5f5f5;
}

.table2_2_3 tr td {
	color: #666;
}

.table2_2_3>tr>td.color1 {
	color: #333;
}

span.sline {
	height: 50px;
	border-bottom: 1px solid #dbdbdb;
}

ul.selc {
	margin-top: -5px;
}

span.sline:nth-child(2) {
	border-top: 1px solid #dbdbdb;
	line-height: 60px;
	height: 60px;
	margin-top: 20px;
}

span.sline:nth-child(3) {
	padding-top: 20px;
}

span.sline:nth-child(6) {
	padding-top: 20px;
}

span.sline:nth-child(4) {
	padding-bottom: 12px;
	margin-top: -14px;
}

span.sline:nth-child(3), span.sline:nth-child(6) {
	border-bottom: 0;
}

.spantop {
	padding-left: 2px;
}

.selc:last-child>li {
	border: 0;
}

.line1>li>span {
	color: #333;
	font-weight: 400;
}

.line1>li>ul {
	margin-left: -40px;
	line-height: 25px;
}

/* 서브 2_3 / 2_4 테이블  */
.table2_3 {
	width: 910px;
	border-collapse: collapse;
}

.table2_3 tr td {
	border: 1px solid #dbdbdb;
	text-align: center;
	font-size: 14px;
	font-weight: 300;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	height: 50px;
}

.table2_3 tr td.color1 {
	font-weight: 400;
	color: #333;
	background: #f5f5f5;
}

.table2_3>thead>tr>td {
	background: #666;
	color: #fff;
	font-size: 16px;
	font-weight: 400;
	height: 60px;
	width: 25%;
}

.table2_3 tr td {
	color: #666;
}

/* 서브 2_5 , 2_6 , 2_7 테이블*/
.table2_5 {
	width: 910px;
	border-collapse: collapse;
}

.table2_5 tr td {
	border: 1px solid #dbdbdb;
	text-align: center;
	font-size: 14px;
	font-weight: 300;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	height: 50px;
}

.table2_5 tr td.color1 {
	font-weight: 400;
	color: #333;
	background: #f5f5f5;
}

.table2_5>thead>tr>td {
	background: #666;
	color: #fff;
	font-size: 16px;
	font-weight: 400;
	height: 60px;
	width: 25%;
}

.table2_5 tr td {
	color: #666;
}

/* 서브 2_9  */
.table2_9 {
	width: 910px;
	border-collapse: collapse;
}

.table2_9 tr td {
	border: 1px solid #dbdbdb;
	text-align: center;
	font-size: 14px;
	font-weight: 300;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	height: 50px;
}

.table2_9 tr td.color1 {
	font-weight: 400;
	color: #333;
	background: #f5f5f5;
}

.table2_9>thead>tr>td {
	background: #666;
	color: #fff;
	font-size: 16px;
	font-weight: 400;
	height: 60px;
	width: 8.33333%;
}

.table2_9 tr td {
	color: #666;
}

#size_wrap {
	width: 100%;
	margin-top: 110px;
	clear: both;
	display: block;
	height: 760px;
}

#size_wrap>ul>li {
	width: 50%;
	float: left;
	text-align: center;
	height: 370px;
	margin-bottom: 30px;
}

#size_wrap>ul>li>p {
	font-size: 20px;
	color: #333;
	font-weight: 400;
	text-align: center;
	padding-top: 15px;
}

.table2_9_2 {
	width: 910px;
	border-collapse: collapse;
	margin-top: 15px;
}

.table2_9_2 tr td {
	border: 1px solid #dbdbdb;
	text-align: center;
	font-size: 14px;
	font-weight: 300;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	height: 50px;
	color: #666;
}

.table2_9_2 tr td.color1 {
	font-weight: 400;
	color: #333;
	background: #f5f5f5;
}

.table2_9_2>thead>tr>td {
	background: #666;
	color: #fff;
	font-size: 16px;
	font-weight: 400;
	height: 60px;
}

table2_9_2>thead>tr>td:first-child {
	width: 305px;
}

.left_cel {
	position: relative;
	text-align: left;
	margin-left: -40px;
	padding-left: 20px;
}

.left_cel:before {
	position: absolute;
	content: '';
	left: 12px;
	top: 12px;
	width: 4px;
	height: 1px;
	background: #666;
}

/* 서브3_1 레이아웃  */
.map_wrap {
	margin-bottom: 48px;
	height: 460px;
}

.s0301_map_text {
	overflow: hidden;
	margin-bottom: 19px;
}

.s0301_map_text>.mp_l {
	width: 185px;
	float: left;
	font-size: 16px;
	color: #333;
	margin-right: 10px;
}

.s0301_map_text>.mp_l>img {
	margin-right: 14px;
}

.s0301_map_text>.mp_r {
	position: relative;
	padding-left: 7px;
	float: left;
	height: 27px;
	line-height: 27px;
	font-size: 14px;
	color: #666;
	background: url(../assets/img/dot.png) left no-repeat;
}

.mp_r>span {
	display: inline-block;
	width: 103px;
	height: 25px;
	text-align: center;
	line-height: 25px;
	background: #666;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	color: #fff;
	font-size: 14px;
	font-weight: 500;
	margin-right: 10px;
}

.mp_r>span:last-child {
	margin-left: 10px;
}

.mp_r>img {
	margin-left: 10px;
}

#body {
	font-weight: 300;
}

#sub_layout {
	text-transform: uppercase;
	display: block;
	width: auto;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 0 50px;
	overflow: hidden;
}

#sub_layout:after {
	display: block;
	content: "";
	clear: both;
}

#sub_layout>#ln_area {
	display: block;
	float: left;
	width: 240px;
	height: auto;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

#sub_layout>#ln_area>.h2_label {
	font-family: 'nanumgothic';
	width: 240px;
	height: 115px;
	text-align: left;
	padding-left: 14px;
	font-weight: 700;
	line-height: 115px;
	font-size: 30px;
	color: #fff;
	box-sizing: border-box;
	overflow: hidden;
	background: url('../assets/img/ln_about.jpg') 0 0 no-repeat;
}

#sub_layout>#ln_area>.ln {
	display: block;
	list-style: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

#sub_layout>#ln_area>.ln>li {
	display: block;
	border-bottom: 1px solid #dbdbdb;
	overflow: hidden;
}

#sub_layout>#ln_area>.ln>li>a {
	display: block;
	padding: 20px 10px 20px 20px;
	font-size: 15px;
	color: #222222;
	font-weight: 300;
	cursor:pointer;
}

#sub_layout>#ln_area>.ln>li.current>a {
	color: #333;
	background: url('../assets/img/ln_bg.png') #f7f7f7 no-repeat 95%
		center;
	border-bottom: 1px solid #dbdbdb;
	border-top: 1px solid #dbdbdb;
}

#sub_layout>#ln_area>.ln>li>ul {
	display: none;
}

#sub_layout>#ln_area>.ln>li.current>ul {
	display: block;
}

#sub_layout>#ln_area>.ln>li>ul>li>a {
	display: block;
	font-size: 14px;
	font-weight: 300;
	letter-spacing: -0.7px;
	color: #333;
	margin-left: -12px;
	line-height: 32px;
}

#sub_layout>#ln_area>.ln>li>ul>li:hover>a {
	color: #23ac38;
}

#sub_layout>#ln_area>.ln>li>ul>li.current>a {
	color: #23ac38;
}

#sub_layout>#sub_cnt {
	display: block;
	float: right;
	width: 910px;
	height: auto;
	margin: 0;
	padding: 0 0 50px;
	overflow: hidden;
}

#sub_layout>#sub_cnt .feedback {
	display: block;
	margin-bottom: 70px;
	padding-top: 50px;
	overflow: hidden;
}

#sub_layout>#sub_cnt .feedback>.h3_label {
	float: left;
	margin-bottom: 20px;
	font-size: 30px;
	color: #222222;
	font-weight: 500;
}

#sub_layout>#sub_cnt .feedback>.process {
	float: right;
	margin-top: 15px;
	display: block;
	overflow: hidden;
}

#sub_layout>#sub_cnt .feedback>.process>span {
	display: inline-block;
	font-size: 15px;
	color: #666;
}

#sub_layout>#sub_cnt .feedback>.process>span.path {
	display: inline-block;
	font-size: 15px;
	color: #333;
}

#sub_layout>#sub_cnt .feedback>.process>.arrow {
	width: 10px;
	height: 10px;
	margin: 0 5px;
	margin-top: -10px;
}

article.s0101 {
	display: table;
    margin-left: auto;
    margin-right: auto;
}